{% load static %}

<!-- Diseño del contenido de sección -->
<section class="about" id="sobremi">
    <div class="about-img">
        <img src="{% static "img/about.png" %}" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">Sobre <span>mí</span></h2>
        <h3>Desarrollador Backend</h3>
        <p>
            Soy desarrollador backend con enfoque en la creación de aplicaciones robustas, seguras y escalables. <br><br>
            Disfruto diseñar y optimizar la lógica del servidor, bases de datos y APIs, buscando siempre soluciones eficientes que aporten valor real a los proyectos. Me motiva el aprendizaje constante y la mejora continua en cada desarrollo.
        </p>
    </div>
</section>