{% load static %}

<!-- Diseño del contenido de sección -->
<section class="contact" id="contactos">
    <h2 class="heading">Contacta <span>Conmigo!</span></h2>

    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Nombre Completo">
            <input type="email" placeholder="Correo electronico">
        </div>

        <div class="input-box">
            <input type="number" placeholder="Telefono celular">
            <input type="email" placeholder="Asunto del correo">
        </div>

        <textarea name="" id="" cols="30" rows="30" placeholder="Dejanos tu mensaje"></textarea>

        <input type="submit" value="Enviar mensaje" class="btn">
    </form>
</section>