{% load static %}

<!-- Diseño del contenido de sección -->
<section class="home" id="inicio">
    <div class="home-content">
        <h3>Hola, bienvenido a mi portafolio</h3>
        <h1>Nicolás Paulo Vega</h1>
        <h3>Soy <span class="multiple-text"></span></h3>
        <p>
            Apasionado por el desarrollo de software y la creación de soluciones digitales. 
            Me enfoco en construir aplicaciones funcionales, escalables y con una experiencia de usuario clara, 
            siempre buscando aprender nuevas tecnologías y mejorar mis habilidades.
        </p>
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <a href="#" class="btn">Descargar CV</a>
    </div>

    <div class="home-img">
        <img src="{% static "img/home.png" %}" alt="">
    </div>
</section>