{% load static %}

<!-- Diseño del contenido de sección -->
<section class="services" id="servicios">
    <h2 class="heading">Mis <span>servicios</span></h2>

    <div class="services-container">
        <div class="services-box">
            <i class="fa-solid fa-code"></i>
            <h3>Desarrollo web</h3>
            <p>
                Desarrollo sitios y aplicaciones web funcionales y escalables, cuidando la lógica del sistema, el rendimiento, la calidad del código y la mejora continua de cada proyecto.
            </p>
        </div>

        <div class="services-box">
            <i class="fa-solid fa-lightbulb"></i>
            <h3>Asesoramiento</h3>
            <p>
                Ofrezco asesoramiento técnico para la planificación de proyectos, ayudando a elegir tecnologías adecuadas, definir arquitecturas sólidas y aplicar buenas prácticas.
            </p>
        </div>

        <div class="services-box">
            <i class="fa-solid fa-headset"></i>
            <h3>Apoyo</h3>
            <p>
                Brindo apoyo durante el desarrollo y mantenimiento de proyectos, colaborando en la resolución de problemas, optimización del código y mejoras constantes del sistema.
            </p>
        </div>
    </div>
</section>